
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/core/_Layout.cshtml";
}
 
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-6 col-lg-6 col-xl-5">
                <img src="~/imgs/draw2.png" class="img-fluid"   alt="Image login"/>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 offset-xl-1">
                <form method="post" action="~/User/Login">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" name="email" class="form-control form-control-lg"
                               placeholder="Enter a valid email address" /> 
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="form3Example4" name="pwd" class="form-control form-control-lg"
                               placeholder="Enter password" /> 
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg btn-sm"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button> 
                    </div>

                </form>
            </div>
        </div>
    </div>
 

